<script id="generalTemple_frame" type="text/x-jquery-tmpl">
	<ul class="nav">
    <li class="focus">系统信息</li>
    </ul>
     <table class="general">
        <tr><td style="width:20%"><b>平台地址：</b></td><td>${generalUrl}</td></tr>
        <tr><td style="width:20%"><b>系统名称：</b></td><td>${generalSystemName}</td></tr>
        <tr><td style="width:20%"><b>系统版本：</b></td><td>${generalSystemVersion}</td></tr>
        <tr><td style="width:20%"><b>客户端：</b></td><td><input type='text' style="width:80%;border:none;color: #333;" value='${generalClient}'></td></tr>
        <tr><td style="width:20%"><b>客户端品牌：</b></td><td>${generalClientBand}</td></tr>
        <tr><td style="width:20%"><b>客户端语言：</b></td><td>${generalClientLanguage}</td></tr>
        <tr><td style="width:20%"><b>第三方部件：</b></td><td>${generalThirdparty}</td></tr>
     </table>
    <ul class="nav">
    <li class="focus">帐户信息</li>
    </ul>
     <table class="general">
        <tr><td style="width:20%"><b>帐户名称：</b></td><td>${generalAccountName}</td></tr>
        <tr><td style="width:20%"><b>帐户等级：</b></td><td>${generalAccountLevel}</td></tr>
        <tr><td style="width:20%"><b>帐户ID：</b></td><td>${generalAccountId}</td></tr>
     </table>
</script>
